@charset "UTF-8";

body {
  font-size: small;
}

h1 {
  /* border: 1px solid red; */
  /* text-align: center; */
}

div.bit-list {
  min-height: 200px;
}

div.container {
  width: 800px;
}

#bit-login-state {
  margin: 0px 10px;
}




