<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BoardMapper">
  
  <resultMap type="board" id="boardMap">
    <id column="board_id" property="no"/>
    <result column="conts" property="contents"/>
    <result column="cdt" property="createdDate"/>
    <result column="vw_cnt" property="viewCount"/>
  </resultMap>
  
  <select id="findAll" resultMap="boardMap">
    select 
      board_id, 
      conts, 
      cdt, 
      vw_cnt 
    from 
      lms_board
    order by 
      board_id desc
  </select>
  
  <select id="findByNo" resultMap="boardMap" parameterType="int">
    select 
      board_id, 
      conts, cdt, 
      vw_cnt 
    from 
      lms_board 
    where 
      board_id = #{value}
  </select>
  
  <update id="increaseCount" parameterType="int">
    update lms_board 
    set 
      vw_cnt = vw_cnt + 1 
    where board_id = #{value}
  </update>
  
  <insert id="insert" parameterType="board">
    insert into lms_board(conts) 
    values(#{contents})
  </insert>
  
  <update id="update" parameterType="board">
    update lms_board 
    set 
      conts = #{contents} 
    where board_id = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from lms_board 
    where board_id = #{no}
  </delete>
</mapper>










