<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>오류!</title>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <style>
  .container {
    width: 600px;
    margin: 0px auto;
  }
  </style>
</head>
<body>
<div class="container">
<h1>오류!</h1>
<p>{{message}}</p>
</body>
</html>


<!-- -->
